@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tagify";
@import "swiper";

input[type="submit"] {
  cursor: pointer;
}

a:hover,
button:hover,
input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: solid 1px #c8c1c1;
  box-shadow: inset #0000000f 0 2px 2px;
  border-radius: 0.375rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: 2px solid;
  outline-color: #6366f1;
  border: none;
}

.button-position {
  right: 16px;
  bottom: 48px;
}

@media (min-width: 449px) {
  .button-position {
    right: calc(50% - 205px);
  }
}
