= turbo_frame_tag 'memos' do
  = turbo_frame_tag "memos-page-#{@memos.current_page}" do
        = render @memos
        = turbo_frame_tag "memos-page-#{@memos.next_page}", loading: :lazy, src: path_to_next_page(@memos)
